{% extends "lab/labhome.html" %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}




<div class="col-md-8 mt-4" style="text-align:center">
      <p >Static Table</p>
<div class="content-section">

    <table class="table" id="table1" >
  <thead class="bg-info">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>

      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>user1</td>
      <td>11111</td>
      <td>user1@user.com</td>
        <td>chennai</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>user2</td>
      <td>22222</td>
      <td>user2@user.com</td>
        <td>guindy</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>user3</td>
      <td>33333</td>
      <td>user3@user.com</td>
        <td>adyar</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>user4</td>
      <td>44444</td>
      <td>user4@user.com</td>
        <td>Saidapet</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>user5</td>
      <td>55555</td>
      <td>user5@user.com</td>
        <td>Tnagr</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>user6</td>
      <td>66666</td>
      <td>user6@user.com</td>
        <td>Siruseri</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>user7</td>
      <td>77777</td>
      <td>user7@user.com</td>
        <td>Thoripakkam</td>
    </tr>

  </tbody>
</table>



</div>
</div>


{%endblock%}
