{% extends "lab/labhome.html" %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}


<div class="row">


<div class="col-md-6">
<div class="content-section">
    <h5 style="text-align:center">Simple Tabs</h5>
    <hr>

    <h8>Click the each tab to see the result: </h8>
    <br><br>


    <div id="tabs">
<ul>
  <li><a href="#tabsa-1">Vcentry</a></li>
  <li><a href="#tabsb-2">Java</a></li>
  <li><a href="#tabsc-3">Python</a></li>
</ul>
<div id="tabsa-1">
  <p>Vcentry has been established with the objective of offering superior IT training and consulting services. </p>

    <p>Vcentry provides an integrated IT training and consulting services, catering to all the human resource and training requirements of a corporate since 2014.</p>

<p>    Vcentry focuses on providing comprehensive Talent management solutions to the customers across various locations (currently Chennai, Coimbatore, Bangalore and Trivandrum). Our talent management pool has always been striving forward to bring the corporate and professionals together to a single point. We have always been victorious in what we do, because we know that having the right people in your business is crucial.
</p>
</div>
<div id="tabsb-2">
  <p>Java is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java. This reference will take you through simple and practical approaches while learning Java Programming language.

</p>
</div>
<div id="tabsc-3">
  <p>Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.</p>

<p>  Python is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain. I will list down some of the key advantages of learning Python:</p>

<p>  Python is Interpreted − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.</p>

<p>  Python is Interactive − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</p>

<p>  Python is Object-Oriented − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.</p>

<p>  Python is a Beginner's Language − Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

</p>
</div>
</div>



          <br><br>
  </div>  </div>


        <div class="col-md-6">
        <div class="content-section">
    <h5 style="text-align:center">Mouse over tabs</h5>
    <hr>

    <h8>Mouse hover the following tabs to see the result: </h8>
    <br><br>

    <div id="tabs1">
<ul>
  <li><a href="#tabs-1">Vcentry</a></li>
  <li><a href="#tabs-2">Java</a></li>
  <li><a href="#tabs-3">Python</a></li>
</ul>
<div id="tabs-1">
  <p>Vcentry has been established with the objective of offering superior IT training and consulting services. </p>

    <p>Vcentry provides an integrated IT training and consulting services, catering to all the human resource and training requirements of a corporate since 2014.</p>

<p>    Vcentry focuses on providing comprehensive Talent management solutions to the customers across various locations (currently Chennai, Coimbatore, Bangalore and Trivandrum). Our talent management pool has always been striving forward to bring the corporate and professionals together to a single point. We have always been victorious in what we do, because we know that having the right people in your business is crucial.
</p>
</div>
<div id="tabs-2">
  <p>Java is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java. This reference will take you through simple and practical approaches while learning Java Programming language.

</p>
</div>
<div id="tabs-3">
  <p>Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.</p>

<p>  Python is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain. I will list down some of the key advantages of learning Python:</p>

<p>  Python is Interpreted − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.</p>

<p>  Python is Interactive − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</p>

<p>  Python is Object-Oriented − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.</p>

<p>  Python is a Beginner's Language − Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

</p>
</div>
</div>



          <br><br>
  </div>  </div>











  <div class="col-md-6">
  <div class="content-section">
  <h5 style="text-align:center">Sortable tabs</h5>
  <hr>

  <h8>Drag and drop the tab to see the result: </h8>
  <br><br>

  <div id="tabs3">
  <ul>
    <li><a href="#tabse-1">Vcentry</a></li>
    <li><a href="#tabsf-2">Java</a></li>
    <li><a href="#tabsg-3">Python</a></li>
  </ul>
  <div id="tabse-1">
    <p>Vcentry has been established with the objective of offering superior IT training and consulting services. </p>

      <p>Vcentry provides an integrated IT training and consulting services, catering to all the human resource and training requirements of a corporate since 2014.</p>

  <p>    Vcentry focuses on providing comprehensive Talent management solutions to the customers across various locations (currently Chennai, Coimbatore, Bangalore and Trivandrum). Our talent management pool has always been striving forward to bring the corporate and professionals together to a single point. We have always been victorious in what we do, because we know that having the right people in your business is crucial.
  </p>
  </div>
  <div id="tabsf-2">
    <p>Java is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java. This reference will take you through simple and practical approaches while learning Java Programming language.

  </p>

  </div>
  <div id="tabsg-3">
    <p>Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.</p>

<p>  Python is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Web Development Domain. I will list down some of the key advantages of learning Python:</p>

<p>  Python is Interpreted − Python is processed at runtime by the interpreter. You do not need to compile your program before executing it. This is similar to PERL and PHP.</p>

<p>  Python is Interactive − You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</p>

<p>  Python is Object-Oriented − Python supports Object-Oriented style or technique of programming that encapsulates code within objects.</p>

<p>  Python is a Beginner's Language − Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.

  </p>
  </div>
</div>



    <br><br>
  </div>  </div>




</div>




{%endblock%}

{%block script%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {

  var tabs = $( "#tabs3" ).tabs();
    tabs.find( ".ui-tabs-nav" ).sortable({
      axis: "x",
      stop: function() {
        tabs.tabs( "refresh" );
      }
    });



  $( "#tabs1" ).tabs({
      event: "mouseover"
    });

  $( "#tabs" ).tabs();
} );
</script>



{%endblock%}
