{% extends "lab/labhome.html" %}
{% load static %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}


<div class="row">


<div class="col-md-6" style="text-align:center">
  <div class="content-section">
    <div class="col-md-12">
            <p>Broken Image</p>
            <hr>
      <div class="col-md-8" style="margin: 0 auto;float: none;margin-bottom: 10px;">

      <div class="content-section" >

    <p>Vcentry 1</p>
    <hr>
        <img src="{% static 'images/vcentry1.jpg' %}" alt="image broken" width="200" height="200">


        <br>
        <br>
      </div>  </div>  </div>

      <div class="col-md-12">

        <div class="col-md-8" style="margin: 0 auto;float: none;margin-bottom: 10px;">

        <div class="content-section" >

      <p>Vcentry 2</p>
      <hr>
          <img src="{% static 'images/vcentry2.jpg' %}" alt="image broken" width="200" height="200">


          <br>
          <br>
        </div>  </div>  </div>
        <div class="col-md-12">

          <div class="col-md-8" style="margin: 0 auto;float: none;margin-bottom: 10px;">

          <div class="content-section" >

        <p>Vcentry 3</p>
        <hr>
            <img src="{% static 'images/vcentry.jpg' %}" alt="image broken" width="200" height="200">


            <br>
            <br>
          </div>  </div>  </div>
  </div>  </div>



  </div>







{%endblock%}

{%block script%}

{%endblock%}
