<select id="courseid" name="coursename" class="form-control mt-1 fa fa-user" aria-required="true" aria-invalid="false">
  <option value="Select Training Course">Select Training Course</option>
  <optgroup label="RPA TRAINING">
    <option value="Blue Prism Training"></option>
    <option value="UiPath Training"></option>
    <option value="Automation Anywhere Training"></option>
  </optgroup>
  <optgroup label="Cloud Computing">
    <option value="Azure Training"></option>
    <option value="AWS Training"></option>
    <option value="Salesforce Training"></option>
    <option value="Google Cloud Platform Training"></option>
    <option value="OpenNebula Training"></option>
    <option value="OpenSpan Training"></option>
    <option value="OpenStack Training"></option>
    <option value="Implementing Microsoft Azure Infrastructure Solutions Training"></option>
  </optgroup>
  <optgroup label="BigData">
    <option value="Hadoop Training"></option>
    <option value="Big Data Analytics Training"></option>
    <option value="Apache Spark Training"></option>
  </optgroup>
  <optgroup label="Web Development">
    <option value="AngularJS Training"></option>
    <option value="Angular 7 Training"></option>
    <option value="Angular 8 Training"></option>
    <option value="JavaScript Training"></option>
    <option value="Node JS Training"></option>
    <option value="React JS Training"></option>
    <option value="React Native Training"></option>
    <option value="Ionic Framework Training"></option>
    <option value="Less JS Training"></option>
    <option value="CofeeScript Training"></option>
    <option value="PHP Training"></option>
    <option value="Full Stack Developer Training"></option>
    <option value="Graphic Design Training"></option>
    <option value="CSS Training"></option>
    <option value="HTML Training"></option>
    <option value="ASP.NET MVC + AngularJS Training"></option>
  </optgroup>
  <optgroup label="Mobile Application">
    <option value="Android Training"></option>
    <option value="iOS Training"></option>
    <option value="Swift Programming Training"></option>
    <option value="Kotlin Training"></option>
    <option value="Flutter Dart Training"></option>
  </optgroup>
  <optgroup label="Trending Technologies">
    <option value="Python Training"></option>
    <option value="Data Science Training"></option>
    <option value="R Programming Training"></option>
    <option value="DevOps Training"></option>
    <option value="IoT Training"></option>
    <option value="Machine Learning Training"></option>
    <option value="Blockchain Training"></option>
    <option value="Mean Stack Training"></option>
    <option value="Artificial Intelligence Training"></option>
    <option value="Data Analytics Using Python Training"></option>
    <option value="RPA-TRAINING"></option>
  </optgroup>
  <optgroup label="Software Testing">
    <option value="Manual Testing Training"></option>
    <option value="QTP / UFT Training"></option>
    <option value="Selenium Training"></option>
    <option value="Selenium with Python Training"></option>
    <option value="Perfecto Mobile Testing Training"></option>
    <option value="ETL Testing Training"></option>
    <option value="JMeter Training"></option>
    <option value="LoadRunner Training"></option>
    <option value="Performance Engineering Training"></option>
    <option value="Big Data Testing Training"></option>
    <option value="Protractor Automation"></option>
  </optgroup>
  <optgroup label="Microsoft Technologies">
    <option value="Dot Net Training"></option>
    <option value="ASP.NET MVC Training"></option>
    <option value="ASP.NET with Angular Training"></option>
    <option value="SharePoint Training"></option>
    <option value="Advanced Excel Training"></option>
    <option value="Microsoft Excel Macro Training"></option>
  </optgroup>
  <optgroup label="JAVA">
    <option value="Core Java Training"></option>
    <option value="Java J2EE Training"></option>
    <option value="Advanced Java Training"></option>
    <option value="Hibernate Training"></option>
    <option value="Spring Training"></option>
    <option value="Struts Training"></option>
    <option value="Java 8 Training"></option>
  </optgroup>
  <optgroup label="Project Management">
    <option value="Primavera P6 Training"></option>
    <option value="Microsoft Project Training"></option>
    <option value="PMP Training"></option>
    <option value="Scrum Master Training"></option>
    <option value="Business Analytics Training">Business Analytics Training</option>
    <option value="ITIL Training">ITIL Training</option>
    <option value="Prince2 Training">Prince2 Training</option>
    <option value="MSBI SSIS Training">MSBI SSIS Training</option>
    <option value="MSBI SSAS Training">MSBI SSAS Training</option>
    <option value="MSBI SSRS Training">MSBI SSRS Training</option>
  </optgroup>
  <optgroup label="Data Warehousing">
    <option value="Informatica Training">Informatica Training</option>
    <option value="Microstrategy Training">Microstrategy Training</option>
    <option value="Qlikview Training">Qlikview Training</option>
    <option value="Qlik Sense Training">Qlik Sense Training</option>
    <option value="Tableau Training">Tableau Training</option>
    <option value="Teradata Training">Teradata Training</option>
    <option value="SAS Training">SAS Training</option>
    <option value="Cognos Training">Cognos Training</option>
  </optgroup>
  <optgroup label="Oracle">
    <option value="Oracle PL/SQL Training">Oracle PL/SQL Training</option>
    <option value="Oracle DBA Training">Oracle DBA Training</option>
    <option value="Oracle Application Technical Training">Oracle Application Technical Training</option>
    <option value="ORACLE RAC Training">ORACLE RAC Training</option>
    <option value="ORACLE APPS SCM Training">ORACLE APPS SCM Training</option>
    <option value="Oracle Apps HRMS Training">Oracle Apps HRMS Training</option>
    <option value="Oracle Apps Finance Training">Oracle Apps Finance Training</option>
    <option value="PeopleSoft HCM Training">PeopleSoft HCM Training</option>
    <option value="PeopleSoft Finance Training">PeopleSoft Finance Training</option>
  </optgroup>
  <optgroup label="DataBase Developer">
    <option value="MongoDB Training">MongoDB Training</option>
    <option value="Apache Cassandra Training">Apache Cassandra Training</option>
    <option value="Sybase Training">Sybase Training</option>
    <option value="Informix Training">Informix Training</option>
    <option value="Performance Tuning Training">Performance Tuning Training</option>
  </optgroup>
  <optgroup label="Other Trainings">
    <option value="Ethical Hacking Training">Ethical Hacking Training</option>
    <option value="C C++ Training">C C++ Training</option>
    <option value="Data Modeling Training">Data Modeling Training</option>
    <option value="Unix Shell Training">Unix Shell Training</option>
    <option value="Tensorflow Training">Tensorflow Training</option>
    <option value="Workday Training">Workday Training</option>
    <option value="PEGA Training">PEGA Training</option>
    <option value="CCNA Training">CCNA Training</option>
    <option value="Digital Marketing Training">Digital Marketing Training</option>
    <option value="Go Programming Training">Go Programming Training</option>
    <option value="Arduino Training">Arduino Training</option>
    <option value="Rust Programming Training">Rust Programming Training</option>
    <option value="ELM Training">ELM Training</option>
    <option value="Cyber Security Training">Cyber Security Training</option>
    <option value="BizTalk Server Training">BizTalk Server Training</option>
  </optgroup>
</select>
