{% load static %}
<!DOCTYPE html>
<html>
<head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel = "icon" href ="{% static 'images/tabicon.jpg' %}"
             type = "image/x-icon">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <link rel="stylesheet" type="text/css" href="{% static 'blog/wmain.css' %}">


      <link rel="stylesheet"       href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>

    {% if title %}
         <title>Vcentry - {{ title }}</title>
    {% else %}
         <title>VCentry</title>
    {% endif %}
</head>
<body class="bg-white" style="overflow-x: hidden;">

  <header class="site-header col-md-24 fixed-top">




    <nav class="navbar navbar-expand-lg navbar-dark bg-success ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ">
            <small class="nav-link" href="#"><b>Chennai :  </b></small>
          </li>
          <li class="nav-item active" >
            <small class="nav-link" href="#"><b>Phone - 9500434122 | 9500434122</b></small>
          </li>

          <li class="nav-item active" >
            <small class="nav-link" href="#"><b>Email - tagvcentry@gmail.com | tag@vcentry.com</b></small>
          </li>
          <li class="nav-item active" >
<small class="nav-link mr-5" href="#"></small>
          </li>
          <li class="nav-item active" >
<small class="nav-link mr-5" href="#"></small>
          </li>

          <li class="nav-item active" >
<small class="nav-link mr-5" href="#"></small>
          </li>
          <a class="navbar-brand mr-5 " href="{% url 'blog-home' %}"><i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a class="navbar-brand mr-5 " href="{% url 'websitehome' %}"><i class="fa fa-twitter" aria-hidden="true"></i>
          </a>

          <a class="navbar-brand mr-5 " href="{% url 'blog-home' %}"><i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
          <a class="navbar-brand mr-5" href="{% url 'websitehome' %}"><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>


        </ul>

      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark  " style="background-color:#292929 " >
      <img src="{% static 'images/tabicon.jpg' %}" alt="Trulli" width="50" height="40" class=" mr-5">
          <a class="navbar-brand mr-5" href="{%url 'websitehome'%}"><b class="text-success">V</b><b class="text-danger">C</b><b>entry Technologies</b></a>

<!-- Refer this https://bootstrap-menu.com/detail-multilevel.html -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

<ul class="navbar-nav">
<li class="nav-item mr-5"> <a class="nav-link" href="#">  </a> </li>
<li class="nav-item mr-5"> <a class="nav-link" href="#">  </a> </li>
<li class="nav-item mr-5"> <a class="nav-link" href="#">  </a> </li>
<li class="nav-item dropdown mr-3">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">   Courses </a>
    <ul class="dropdown-menu">

	  <li><a class="dropdown-item" href="#"> Software Testing Courses &raquo</a>
		 <ul class="submenu dropdown-menu">
		    <li><a class="dropdown-item" href=""> Manual Testing</a></li>
		    <li><a class="dropdown-item" href=""> Automation Testing &raquo</a>
			         <ul class="submenu dropdown-menu">
			              <li><a class="dropdown-item" href="{% url 'selenium' %}"> Selenium Java Automation</a></li>
			              <li><a class="dropdown-item" href=""> Selenium Python Automation</a></li>
                    <li><a class="dropdown-item" href=""> QTP</a></li>
                    <li><a class="dropdown-item" href=""> Cypress</a></li>
                    <li><a class="dropdown-item" href=""> Protractor</a></li>
                    <li><a class="dropdown-item" href=""> CodedUi</a></li>
			          </ul>
		    </li>

        <li><a class="dropdown-item" href=""> Performance Testing &raquo</a>
			         <ul class="submenu dropdown-menu">
			              <li><a class="dropdown-item" href=""> Jmeter</a></li>
			              <li><a class="dropdown-item" href=""> Load Runner</a></li>
                    <li><a class="dropdown-item" href=""> Neo Load</a></li>

			          </ul>
		    </li>
        <li><a class="dropdown-item" href=""> Security Testing &raquo</a>
			         <ul class="submenu dropdown-menu">
			              <li><a class="dropdown-item" href=""> Netsparker</a></li>
			              <li><a class="dropdown-item" href=""> Klocwork</a></li>
                    <li><a class="dropdown-item" href=""> Burp suite</a></li>

			          </ul>
		    </li>
        <li><a class="dropdown-item" href=""> WebServices Testing &raquo</a>
			         <ul class="submenu dropdown-menu">
			              <li><a class="dropdown-item" href=""> Rest Assured</a></li>
			              <li><a class="dropdown-item" href=""> SoapUI</a></li>
                    <li><a class="dropdown-item" href=""> Postman</a></li>

			          </ul>
		    </li>
		    <li><a class="dropdown-item" href=""> Big Testing</a></li>
		    <li><a class="dropdown-item" href=""> ETL Testing</a></li>
		 </ul>
	  </li>


<!-- Master Program -->

    <li><a class="dropdown-item" href="#"> Master Program &raquo</a>
    <ul class="submenu dropdown-menu">
       <li><a class="dropdown-item" href=""> Manual Testing</a></li>
       <li><a class="dropdown-item" href=""> Automation Testing &raquo</a>
              <ul class="submenu dropdown-menu">
                   <li><a class="dropdown-item" href="{% url 'selenium' %}"> Selenium Java Automation</a></li>
                   <li><a class="dropdown-item" href=""> Selenium Python Automation</a></li>
                    <li><a class="dropdown-item" href=""> QTP</a></li>
                    <li><a class="dropdown-item" href=""> Cypress</a></li>
                    <li><a class="dropdown-item" href=""> Protractor</a></li>
                    <li><a class="dropdown-item" href=""> CodedUi</a></li>
               </ul>
       </li>

        <li><a class="dropdown-item" href=""> Performance Testing &raquo</a>
              <ul class="submenu dropdown-menu">
                   <li><a class="dropdown-item" href=""> Jmeter</a></li>
                   <li><a class="dropdown-item" href=""> Load Runner</a></li>
                    <li><a class="dropdown-item" href=""> Neo Load</a></li>

               </ul>
       </li>
        <li><a class="dropdown-item" href=""> Security Testing &raquo</a>
              <ul class="submenu dropdown-menu">
                   <li><a class="dropdown-item" href=""> Netsparker</a></li>
                   <li><a class="dropdown-item" href=""> Klocwork</a></li>
                    <li><a class="dropdown-item" href=""> Burp suite</a></li>

               </ul>
       </li>
        <li><a class="dropdown-item" href=""> WebServices Testing &raquo</a>
              <ul class="submenu dropdown-menu">
                   <li><a class="dropdown-item" href=""> Rest Assured</a></li>
                   <li><a class="dropdown-item" href=""> SoapUI</a></li>
                    <li><a class="dropdown-item" href=""> Postman</a></li>

               </ul>
       </li>
       <li><a class="dropdown-item" href=""> Big Testing</a></li>
       <li><a class="dropdown-item" href=""> ETL Testing</a></li>
    </ul>
   </li>
   <!-- End Master Program -->


    </ul>
</li>
<li class="nav-item mr-3"> <a class="nav-link" href="#"> Students Zone </a> </li>
<li class="nav-item mr-3"> <a class="nav-link" href="#"> Services </a> </li>
<li class="nav-item mr-3"> <a class="nav-link" href="#"> Careers </a> </li>
<li class="nav-item mr-3"> <a class="nav-link" href="#"> Contact us </a> </li>



<li class="nav-item dropdown mr-3">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Skill Enhancement </a>
    <ul class="dropdown-menu">


		    <li><a class="dropdown-item" href="{% url 'blog-home' %}"> Online Exam</a></li>
		    <li><a class="dropdown-item" href="{% url 'labhome' %}" > Lab Practice</a> </li>
        <li><a class="dropdown-item" href="{% url 'staticqusans' %}"> Interview Questions</a> </li>




		 </ul>
	  </li>






    </ul>
</li>





</li>

<!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  First level 4  </a>
    <ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="#"> Second level 1 </a></li>
	  <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a>
		 <ul class="submenu dropdown-menu">
		    <li><a class="dropdown-item" href=""> Third level 1</a></li>
		    <li><a class="dropdown-item" href=""> Third level 2</a></li>
		    <li><a class="dropdown-item" href=""> Third level 3 &raquo </a>
			<ul class="submenu dropdown-menu">
			    <li><a class="dropdown-item" href=""> Fourth level 1</a></li>
			    <li><a class="dropdown-item" href=""> Fourth level 2</a></li>
			</ul>
		    </li>
		    <li><a class="dropdown-item" href=""> Second level  4</a></li>
		    <li><a class="dropdown-item" href=""> Second level  5</a></li>
		 </ul>
	  </li>
	  <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
	  <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
    </ul>
</li>
</li> -->


</ul>

</div> <!-- navbar-collapse.// -->


</nav>



</header>







{%block maincontent%}{%endblock maincontent%}

{%block aboutus%}{%endblock aboutus%}



{%block countbox%}{%endblock countbox%}
{%block whytochooseus%}{%endblock whytochooseus%}
{%block chooseuscard%}{%endblock chooseuscard%}

{%block currenttrending%}{%endblock currenttrending%}

{%block cards%}{%endblock cards%}

{%block upcoming%}{%endblock upcoming%}



<footer class="page-footer text-white font-small blue " style="background-color:#eee7e7">
<br>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3">



        <h6> <u style="color:red"> <b style="color:#50505b">Top Categories</b>  </u> </h6>




        <a href="#" style="color:#50505b">Master Program |</a>
        <a href="#" style="color:#50505b">Data Warehousing Training in Chennai |</a>
        <a href="#" style="color:#50505b">Database Developer Training in Chennai |</a>
        <a href="#" style="color:#50505b">DBA Training |</a>
        <a href="#" style="color:#50505b">Web Designing Training |</a>
        <a href="#" style="color:#50505b">Digital Marketing Training in Chennai |</a>
        <a href="#" style="color:#50505b">Java Training in Chennai |</a>
        <a href="#" style="color:#50505b">Software Testing Training |</a>
        <a href="#" style="color:#50505b">Mobile Applications Training |</a>
  <a href="#" style="color:#50505b">Robotic Process Automation Training in Chennai |</a>
      </div>

    </div>

  </div>
<br>

</footer>












<!-- Footer -->
<footer class="page-footer text-white font-small blue pt-4 " style="background-color:#282a2b">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">


<div class="row">


      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="{% static 'images/tabicon.jpg' %}" alt="Trulli" width="60" height="50" class=" mr-1">


        <a class="navbar-brand mr-2" href="#"><b class="text-success">V</b><b class="text-danger">C</b><b class="text-white">entry Technologies</b></a>
        <hr color="orange">
        <p class="ml-3">Vcentry has been established with the objective of offering superior IT training and consulting services. Vcentry provides an integrated IT training and consulting services, catering to all the human resource and training requirements of a corporate since 2014.</p>
  <hr color="orange">
      </div>

      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h6 >Students zone <hr color="green"></h6>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'blog-home' %}">Online Exams</a>
          </li>
          <li>
            <a href="{% url 'staticqusans' %}">Interview Questions</a>
          </li>
          <li>
            <a href="{% url 'labhome' %}">Lab Exercises</a>
          </li>

        </ul>

      </div>
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h6 >Services <hr color="green"></h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h6 >Trending Courses <hr color="green"></h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>

      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->

        <div class="col-md-4">


          <a class=" mr-2" href="#"><b class="text-white">Visit Our Physical Office: </b></a>
<hr color="orange " >
        </div>


        <p class="ml-3">126, Race View Tower, Manikam lane, opposite to Guindy, near Subway, Guindy Institutional Area, SIDCO Industrial Estate, Guindy, Tamil Nadu</p>

      </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->


      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <div class="">
    <a class="mr-4 ">Follow Us On  : </a>
    <a class="navbar-brand mr-4 " href="{% url 'blog-home' %}"><i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand mr-4 " href="{% url 'websitehome' %}"><i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a class="navbar-brand mr-4 " href="{% url 'blog-home' %}"><i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a class="navbar-brand mr-4 " href="{% url 'websitehome' %}"><i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: VCentry Technologies

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>

      var month = new Array();
      month[0] = "Jan";
      month[1] = "Feb";
      month[2] = "Mar";
      month[3] = "Apr";
      month[4] = "May";
      month[5] = "June";
      month[6] = "July";
      month[7] = "Aug";
      month[8] = "Sep";
      month[9] = "Oct";
      month[10] = "Nov";
      month[11] = "Dec";
      var1=new Date().getMonth()+2
      var1=new Date().getMonth()+2

     document.getElementById("date1").innerHTML = (new Date().getDate()-2)+"-"+month[(new Date().getMonth()+1)]+"-"+new Date().getFullYear()
     document.getElementById("date2").innerHTML = (new Date().getDate()-4)+"-"+month[(new Date().getMonth()+1)]+"-"+new Date().getFullYear()
     document.getElementById("date3").innerHTML = (new Date().getDate()-7)+"-"+month[(new Date().getMonth()+2)]+"-"+new Date().getFullYear()
</script>
      <script>
      $( function() {

// navbar start

        $(document).on('click', '.dropdown-menu', function (e) {
  e.stopPropagation();
});

// make it as accordion for smaller screens
if ($(window).width() < 992) {
  $('.dropdown-menu a').click(function(e){
    e.preventDefault();
      if($(this).next('.submenu').length){
        $(this).next('.submenu').toggle();
      }
      $('.dropdown').on('hide.bs.dropdown', function () {
     $(this).find('.submenu').hide();
  })
  });
}


// navbar end



        var availableTags = [
          "Blue Prism Training",
          "UiPath Training",
          "Automation Anywhere Training",
          "Azure Training",
          "AWS Training",
          "Salesforce Training",
          "Google Cloud Platform Training",
          "OpenNebula Training",
          "OpenSpan Training",
          "OpenStack Training",
          "Implementing Microsoft Azure Infrastructure Solutions Training",
          "Hadoop Training",
          "Big Data Analytics Training",
          "Apache Spark Training",
          "AngularJS Training",
          "Angular 7 Training",
          "Angular 8 Training",
          "Angular 9 Training",
          "JavaScript Training",
          "Node JS Training",
          "React JS Training",
          "React Native Training",

          "Ionic Framework Training",
          "Less JS Training",
          "CofeeScript Training",

          "PHP Training",
          "Full Stack Developer Training",
          "Graphic Design Training",

          "CSS Training",
          "HTML Training",
          "ASP.NET MVC + AngularJS Training",
            "Android Training",
              "iOS Training",
                "Swift Programming Training",

                "Kotlin Training",
                  "Flutter Dart Training",
                    "Python Training",
                      "Data Science Training",
                      "R Programming Training",
                        "DevOps Training",
                          "IoT Training",
                            "Machine Learning Training",
                "Blockchain Training",
                "MEAN Stack Training ",
                "Artificial Intelligence Training",
                "Data Analytics Using Python Training",
                "RPA-TRAINING",

                "Manual Testing Training",
                "QTP / UFT Training ",
                "Selenium Training",
                "Selenium with Python Training",
                "Perfecto Mobile Testing Training",

                "ETL Testing Training",
                "JMeter Training ",
                "LoadRunner Training",
                "Performance Engineering Training",
                "Big Data Testing Training",

                "Protractor Automation",
                "Dot Net Training ",
                "ASP.NET MVC Training",
                "ASP.NET with Angular Training",
                "SharePoint Training",
"Advanced Excel Training ",
"Microsoft Excel Macro Training ",
"Core Java Training ",
"Java J2EE Training ",
"Advanced Java Training ",
"Hibernate Training ",
"Spring Training ",
"Struts Training ",
"Java 8 Training ",
"Primavera P6 Training ",
"Microsoft Project Training ",
"PMP Training ",
"Scrum Master Training ",
"Business Analytics Training ",
"ITIL Training ",
"Prince2 Training ",
"MSBI SSIS Training ",
"MSBI SSAS Training ",
"MSBI SSRS Training ",
"Informatica Training ",
"Microstrategy Training ",
"Qlikview Training ",

"Qlik Sense Training ",
"Tableau Training ",
"Teradata Training ",
"SAS Training ",
"Cognos Training ",
"Oracle PL/SQL Training ",
"Oracle DBA Training ",
"Oracle Application Technical Training ",
"ORACLE RAC Training ",
"ORACLE APPS SCM Training ",
"Oracle Apps HRMS Training ",
"Oracle Apps Finance Training ",
"PeopleSoft HCM Training ",
"PeopleSoft Finance Training ",
"MongoDB Training ",
"Apache Cassandra Training ",
"Sybase Training ",
"Informix Training ",
"Performance Tuning Training ",
"Ethical Hacking Training ",
"C C++ Training ",
"Data Modeling Training ",
"Unix Shell Training ",
"Tensorflow Training ",
"Workday Training ",
"PEGA Training ",
"CCNA Training ",
"Digital Marketing Training ",
"Go Programming Training ",
"Arduino Training ",
"Rust Programming Training ",
"ELM Training ",
"Cyber Security Training ",
"BizTalk Server Training "
        ];
        $( "#tags" ).autocomplete({
          source: availableTags
        });
      } );
      </script>

</body>
</html>
