{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel = "icon" href ="{% static 'images/tabicon.jpg' %}" 
            type = "image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Lab - {{ title }}</title>
    {% else %}
        <title>Lab</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'labhome' %}">Selenium Practice Lab</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}

              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Skill Enhancement
        </a>
              <div class="dropdown-menu p-1 mb-3 bg-primary text-white" aria-labelledby="navbarDropdownMenuLink">
                    {%if user.is_superuser%}
                    <a class="dropdown-item p-1 mb-3 bg-primary text-white" href="{% url 'staticqusans' %}">Create Static Questions</a>
                    {% else %}
                    <a class="dropdown-item p-1 mb-3 bg-primary text-white" href="{% url 'staticqusans' %}">Latest Interiew Questions</a>
                    {% endif %}

          <a class="dropdown-item p-1 mb-3 bg-primary text-white" href="{% url 'blog-home' %}">Online Exam</a>
          <a class="dropdown-item p-1 mb-3 bg-primary text-white" href="{% url 'labhome' %}">Lab Practice</a>
        </div>
        </li>

                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <a class="nav-item nav-link" href="#">{{request.user}}</a>

              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container col-md-12 ">
      <div class="row">

        {%if user.is_authenticated%}
        {%if not user.is_superuser%}
        <div class="container col-md-2">
        <div class="content-section">

          <p class='text-muted'>Pick your element to practice</p>

          <ul id="menu" class="list-unstyled components">

            <li class="list-group-item list-group-item-light">
                <a id="element1" name ="element1" href="#elementsMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Element Set1</a>
                <ul class="collapse list-unstyled" id="elementsMenu">

                  <li class="list-group-item list-group-item-light">

                        <a id="element2" name ="element2" href="/input">Input Box</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element3" name ="element3" href="/checkbox">Check Box</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element4" name ="element4" href="/radiobutton">Radio Button</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element5" name ="element5" href="/autocomplete">Auto complete</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element6" name ="element6" href="/multiwindow">Window Handling</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element7" name ="element7" href="/alert">Alert</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element8" name ="element8" href="/FileUploadDownload">File Upload Or Download</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element9" name ="element9" href="/AddOrRemove">Add Or Remove</a>
                    </li>

                </ul>
            </li>



            <li class="list-group-item list-group-item-light">
                <a id="element10" name ="element10" href="#elementset2Menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Element Set2</a>
                <ul class="collapse list-unstyled" id="elementset2Menu">

                  <li class="list-group-item list-group-item-light">

                        <a id="element11" name ="element11" href="/dropdown">Drop Down</a>
                    </li>
                  <li class="list-group-item list-group-item-light">

                        <a id="element12" name ="element12" href="/keyname">Key Names</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element13" name ="element13" href="/endlessscroll">Endless Scroll</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element14" name ="element14" href="/currentlocation">Current location</a>
                    </li>


                    <li class="list-group-item list-group-item-light">

                        <a id="element15" name ="element15" href="/browserintent">Brower intent</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element16" name ="element16" href="{%url 'bootstrapalert' msg='no'%}">Bootstrap Alert</a>
                    </li>
                    <li class="list-group-item list-group-item-light">

                        <a id="element17" name ="element17" href="/datepicker">Date Picker</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element18" name ="element18" href="/progressbar">Progress Bar</a>
                    </li>

                    <li class="list-group-item list-group-item-light">

                        <a id="element19" name ="element19" href="/tabs">Tabs</a>
                    </li>


                </ul>
            </li>


                <li class="list-group-item list-group-item-light">
                    <a id="element20" name ="element20" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actions</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">

                      <li class="list-group-item list-group-item-light">

                            <a id="element21" name ="element21" href="{%url 'resize'%}">Resize</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element22" name ="element22" href="{%url 'slider'%}">Slider</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element23" name ="element23" href="/rightclick">Right Click</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element24" name ="element24" href="/doubleclick">Double Click</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element25" name ="element25" href="/draganddrop">Drag And Drop</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element26" name ="element26" href="/selectable">Selectable</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element27" name ="element27" href="/mousehover">Mouse Hover</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element28" name ="element28" href="/tooltip">Tooltip</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element29" name ="element29" href="/sortable">Sortable</a>
                        </li>

                    </ul>
                </li>


                <li class="list-group-item list-group-item-light">
                    <a id="element30" name ="element30" href="#javascriptMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Java Script</a>
                    <ul class="collapse list-unstyled" id="javascriptMenu">

                      <li class="list-group-item list-group-item-light">

                            <a id="element31" name ="element31" href="/scroll">Scrolling</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element32" name ="element32" href="/jsclickandtype">Click And Type</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element33" name ="element33" href="/dom">Dom</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element34" name ="element34" href="/highlight">Hight Light</a>
                        </li>
                        <li class="list-group-item list-group-item-light">

                            <a id="element35" name ="element35" href="/enabledOrDisabled">Enabled Or Disabled</a>
                        </li>


                    </ul>
                </li>


                <li class="list-group-item list-group-item-light">
                    <a id="element36" name ="element36" href="#imageMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Image Based</a>
                    <ul class="collapse list-unstyled" id="imageMenu">

                      <li class="list-group-item list-group-item-light">

                            <a id="element37" name ="element37" href="/SingleAndMultiImage">Crop Image</a>
                        </li>


                        <li class="list-group-item list-group-item-light">

                              <a id="element38" name ="element38" href="/brokenimage">Broken Image</a>
                          </li>

                    </ul>
                </li>





                <!-- <li class="list-group-item list-group-item-light">
                    <a href="#frames" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Frames</a>
                    <ul class="collapse list-unstyled" id="frames">

                      <li class="list-group-item list-group-item-light">

                          <a href="/frameset">Nested frame</a>
                      </li>


                      <li class="list-group-item list-group-item-light">

                          <a href="/frameset">iframe</a>
                      </li>

                    </ul>
                </li> -->



                <li class="list-group-item list-group-item-light">
                    <a id="element39" name ="element39" href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tables</a>
                    <ul class="collapse list-unstyled" id="tables">

                      <li class="list-group-item list-group-item-light">

                          <a id="element40" name ="element40" href="/statictable">Static Table</a>
                      </li>
                      <li class="list-group-item list-group-item-light">

                          <a id="element41" name ="element41" href="/dynamictable1">Create Table Runtime</a>
                      </li>
                      <li class="list-group-item list-group-item-light">

                          <a id="element42" name ="element42" href="/dynamictable2">Add Or Delete Row</a>
                      </li>

                      <li class="list-group-item list-group-item-light">

                          <a id="element43" name ="element43" href="/dynamictable3">Sort Table By Header</a>
                      </li>

                    </ul>
                </li>










            </ul>
        </div>
      </div>
      {%else%}


      <div class="col-md-2">
      <div class="content-section">
        <h3><em>Technologies</em></h3>
        <p class='text-muted'><em><small>Select your element to practice</small></em>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{%url 'student_show_levels' 'JAVA'%}"><em><small>Java</small></em></a></li>
            <li class="list-group-item list-group-item-light"><a href="{%url 'student_show_levels' 'PYTHON'%}"><em><small>Python</small></em></a></li>
            <li class="list-group-item list-group-item-light"><a href="{%url 'student_show_levels' 'MANUALTESTING'%}"><em><small>Manual Testing</small></em></a></li>
            <li class="list-group-item list-group-item-light"><a href="{%url 'student_show_levels' 'SELENIUM'%}"><em><small>Selenium</small></em></a></li>
          </ul>
        </p>
      </div>
    </div>
    {%endif%}
    {%endif%}

        <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block progress %}{% endblock %}
          {% block content %}{% endblock %}
        </div>

      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%block script%}{%endblock%}
</body>
</html>
