{% extends "lab/labhome.html" %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}

<div class="row">

  <div class="col-md-6">
      <div class="content-section">
        <small>Enter any input in 5th cell</small>

<br><br><br>
  <form >
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">

  </form>

<br>

<br>
  <form >
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">

  </form>
  <br>

  <br>

  <form >
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">
    <input type="text" id="id1" name="name1">

  </form>
<br><br><br>

</div></div></div>



{%endblock%}
