{% extends "lab/labhome.html" %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}

<div class="row">

  <div class="col-md-8">
      <div class="content-section">

<p style="text-align:center">Scroll By and Scroll to View Example</p>

<hr>

<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >
        <div class="card">
  <div class="card-header">
    Selenium WebDriver
  </div>
  <div class="card-body">

    <p class="card-text">If you want to create robust, browser-based regression automation suites and tests, scale and distribute scripts across many environments, then you want to use Selenium WebDriver, a collection of language specific bindings to drive a browser - the way it is meant to be driven.</h4>
</p>
<a id="id1"  href="https://www.selenium.dev/"> Click Here Selenium</a>
  </div>
</div></div>





<br>
<br>
<br>


<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >

<div class="card">
<div class="card-header">
Django
</div>
<div class="card-body">

<p class="card-text">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
</p>
<a id="id2" href="https://www.djangoproject.com/"> Click Here Django </a>
</div>
</div></div>



<br>
<br>
<br>

<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >

<div class="card">
<div class="card-header">
Flask
</div>
<div class="card-body">

<p class="card-text">Welcome to Flask’s documentation. Get started with Installation and then get an overview with the Quickstart. There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section.

Flask depends on the Jinja template engine and the Werkzeug WSGI toolkit. The documentation for these libraries can be found at:
</p>
<a id="id3"  href="https://flask.palletsprojects.com/en/1.1.x/"> Click Here Flask</a>
</div>
</div>
</div>

<br>
<br>
<br>


<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >

<div class="card">
<div class="card-header">
NumPy
</div>
<div class="card-body">

<p class="card-text">NumPy is the fundamental package for scientific computing with Python. It contains among other things:

a powerful N-dimensional array object

sophisticated (broadcasting) functions

tools for integrating C/C++ and Fortran code

useful linear algebra, Fourier transform, and random number capabilities

Besides its obvious scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. Arbitrary data-types can be defined. This allows NumPy to seamlessly and speedily integrate with a wide variety of databases.

NumPy is licensed under the BSD license, enabling reuse with few restrictions.
</p>
<a id="id4" href="https://numpy.org/"> Click Here NumPy</a>
</div>
</div>
</div>


<br>
<br>
<br>

<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >

<div class="card">
<div class="card-header">
Pandas
</div>
<div class="card-body">

<p class="card-text">pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language
</p>
<a id="id6" href="https://pandas.pydata.org/"> Click Here Pandas</a>
</div>
</div>
</div>


<br>
<br>
<br>


<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >


<div class="card">
<div class="card-header">
Seaborn
</div>
<div class="card-body">

<p class="card-text">Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

For a brief introduction to the ideas behind the library, you can read the introductory notes. Visit the installation page to see how you can download the package. You can browse the example gallery to see what you can do with seaborn, and then check out the tutorial and API reference to find out how.

To see the code or report a bug, please visit the github repository. General support issues are most at home on stackoverflow, where there is a seaborn tag

</p>
<a id="id7"  href="https://seaborn.pydata.org/"> Click Here Seaborn</a>
</div>
</div>
</div>


<br>
<br>
<br>


<div class="col-md-8 mt-4" style="margin: 0 auto;float: none;margin-bottom: 10px;" >

<div class="card">
<div class="card-header">
Plotly
</div>
<div class="card-body">

<p class="card-text">As the leading UI layer for ML and data science models, Dash helps organizations close the gap between their Data Science teams and the rest of the organization.

With Dash and Dash Enterprise, the world's largest companies operationalize ML and data science models to rapidly deliver real results.

</p>
<a id="id8" href="https://plotly.com/"> Click Here Plotly</a>
</div>
</div>
</div>


<br>
<br>
<br>





  </div>  </div>



</div>



{%endblock%}

{%block script%}

  <style>
    .float-container {
      /* border: 3px solid #fff; */
      padding: 20px;
  }

  .float-child {
      width: 50%;
      float: left;
      padding: 20px;
      border: 1px solid red;
  }
  </style>
{%endblock%}
