{% extends "lab/labhome.html" %}
{%block title %}Drag and Drop{%endblock%}
{%block content%}



<div class="col-md-6" id="id1">

  <div class="content-section" id="id2">
    <div class="col-md-12" id="id3">
    <br><br>
  <div class="card" id="id4">
    <h5 class="card-header">Right Click on box</h5>
    <div class="card-body" id="id5">
        <div class="p-3 mb-2 bg-info text-white" id="id6">


      <div id="textid" oncontextmenu="myFunction()" contextmenu="mymenu">
      <p class="card-text">Right-click inside this box to see the context menu!</p>
  </div>
    </div>    </div>
  </div>

<br><br>
</div></div></div>


<br>
<br>

<hr>

<br>
<br>
<div class="col-md-6" id="id7">

  <div class="content-section" id="id8">
    <div class="col-md-12" id="id9">
    <p>Right Click on Link</p>
    <hr>
    <a href="https://www.google.com/">Google</a>
  </div>  </div> </div>





{%endblock%}

{%block script%}


  <script>
function myFunction() {
  alert("You right-clicked inside the div!");
}
</script>
{%endblock%}
