{% extends "staticqusans/staticqus.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">



  {%csrf_token%}


<div class="row">
  <div class="col-md-6">
  <div class="content-section">
    <div class="col-6">
      {{ job_form.technology|as_crispy_field }}
    </div>
  </div>





</div>



<div class="content-section">
  <div class="col-6">
  <label for="">Question</label>
    {{job_form.media}}
    {{ job_form.question }}
  </div>


</div>



<div class="content-section">
  <div class="col-6">
  <label for="">ANSWER</label>
  {{job_form.media}}
{{ job_form.answer }}
  </div>


</div>





</div>








<button class="btn btn-outline-info btn-sm mt-1 mb-1" type="submit">Submit & Move Next Question</button>



</form>

{%endblock%}
