{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if per.has_other_pages %}
  <ul class="pagination">
    {% if per.has_previous %}
      <li><a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ per.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1 disabled"><span>First</span></li>
    {% endif %}
    {% for i in per.paginator.page_range %}
      {% if per.number == i %}
        <li class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if per.has_next %}
      <li><a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ per.next_page_number }}">Next</a></li>
    {% else %}
      <li class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1 disabled"><span>Last</span></li>
    {% endif %}
  </ul>
{% endif %}



{% for j in per%}


<form  method="POST">

      {% csrf_token %}




      <div class="row">
<div class="col-md-6">
  <div class="content-section">


          <br>

    <p class='text-muted'>{{j.level}} - {{j.technology}} - Exam



    </p>
    <p class='text-muted'>Please Read You Questions Carefully </p>
  </div>

  <div class="content-section">




          <br><br>

    <p class='text-muted'> {{j.question|safe }}
    </p>

  </div>


  </div>








 <div class="col-md-6">





   <div class="content-section">
     <p class='text-muted'>Your Options Are: </p>
      <label class='text-muted' for="">Answer A</label>
     <div class="content-section">
       {%if mode%}

       <h1>{{j.qid}}---{{mode.qid}}</h1>

              {%if j.qid in mode.qid%}

                  <div class="row">
                      <div class="col-md-1">
                         {%if mode.stdanswer in 'A'%}

                            <input type="radio" name="stdans" value="A" checked>
                          {%else%}
                            <input type="radio" name="stdans" value="A" alt="b">
                          {%endif%}
                      </div>
                      <div class="col-md-6">
                          <p class='text-muted'>{{j.answera|safe}}</p>
                      </div>
                  </div> <!-- <h1>hh->{{m.stdanswer}}--{{m.attemptid}}--{{mode.qid}}</h1> -->
                  {%else%}
                  <div class="row">

                    <div class="col-md-1">
                   <input type="radio" name="stdans" value="A" alt="d">
                        </div>
                         <div class="col-md-6">

                  <p class='text-muted'>{{j.answera|safe}}

                  </p>

                        </div>
                </div>
                {%endif%}

           {%endif%}



           {%if not mode %}
       <div class="row">

         <div class="col-md-1">
        <input type="radio" name="stdans" value="A" alt="d">
             </div>
              <div class="col-md-6">

       <p class='text-muted'>{{j.answera|safe}}

       </p>

             </div>
     </div>
{%endif%}
   </div>



   <label class='text-muted' for="">Answer B</label>
   <div class="content-section">
     {%if mode%}



            {%if j.qid in mode.qid%}

                <div class="row">
                    <div class="col-md-1">
                       {%if mode.stdanswer in 'B'%}

                          <input type="radio" name="stdans" value="B" checked>
                        {%else%}
                          <input type="radio" name="stdans" value="B" >
                        {%endif%}
                    </div>
                    <div class="col-md-6">
                        <p class='text-muted'>{{j.answerb|safe}}</p>
                    </div>
                </div> <!-- <h1>hh->{{m.stdanswer}}--{{m.attemptid}}--{{mode.qid}}</h1> -->
                {%else%}
                <div class="row">

                  <div class="col-md-1">
                 <input type="radio" name="stdans" value="B" >
                      </div>
                       <div class="col-md-6">

                <p class='text-muted'>{{j.answerb|safe}}

                </p>

                      </div>
              </div>
              {%endif%}

         {%endif%}



         {%if not mode %}
     <div class="row">

       <div class="col-md-1">
      <input type="radio" name="stdans" value="B" >
           </div>
            <div class="col-md-6">

     <p class='text-muted'>{{j.answerb|safe}}

     </p>

           </div>
   </div>
{%endif%}
 </div>

<label class='text-muted'  for="">Answer C</label>
<div class="content-section">
  {%if mode%}



         {%if j.qid in mode.qid%}

             <div class="row">
                 <div class="col-md-1">
                    {%if mode.stdanswer in 'C'%}

                       <input type="radio" name="stdans" value="C" checked>
                     {%else%}
                       <input type="radio" name="stdans" value="C">
                     {%endif%}
                 </div>
                 <div class="col-md-6">
                     <p class='text-muted'>{{j.answerc|safe}}</p>
                 </div>
             </div> <!-- <h1>hh->{{m.stdanswer}}--{{m.attemptid}}--{{mode.qid}}</h1> -->
             {%else%}
             <div class="row">

               <div class="col-md-1">
              <input type="radio" name="stdans" value="C" >
                   </div>
                    <div class="col-md-6">

             <p class='text-muted'>{{j.answera|safe}}

             </p>

                   </div>
           </div>
           {%endif%}

      {%endif%}



      {%if not mode %}
  <div class="row">

    <div class="col-md-1">
   <input type="radio" name="stdans" value="C" >
        </div>
         <div class="col-md-6">

  <p class='text-muted'>{{j.answerc|safe}}

  </p>

        </div>
</div>
{%endif%}
</div>


<label class='text-muted' for="">Answer D</label>
<div class="content-section">
  {%if mode%}



         {%if j.qid in mode.qid%}

             <div class="row">
                 <div class="col-md-1">
                    {%if mode.stdanswer in 'D'%}

                       <input type="radio" name="stdans" value="D" checked>
                     {%else%}
                       <input type="radio" name="stdans" value="D" >
                     {%endif%}
                 </div>
                 <div class="col-md-6">
                     <p class='text-muted'>{{j.answerd|safe}}</p>
                 </div>
             </div> <!-- <h1>hh->{{m.stdanswer}}--{{m.attemptid}}--{{mode.qid}}</h1> -->
             {%else%}
             <div class="row">

               <div class="col-md-1">
              <input type="radio" name="stdans" value="D" >
                   </div>
                    <div class="col-md-6">

             <p class='text-muted'>{{j.answerd|safe}}

             </p>

                   </div>
           </div>
           {%endif%}

      {%endif%}



      {%if not mode %}
  <div class="row">

    <div class="col-md-1">
   <input type="radio" name="stdans" value="D" >
        </div>
         <div class="col-md-6">

  <p class='text-muted'>{{j.answerd|safe}}

  </p>

        </div>
</div>
{%endif%}
</div>



  </div>


</div>

<div class="col-md-12">





  <div class="content-section">
    <input type="hidden" name="qid" value="{{j.qid}}">
    <input type="hidden" name="level" value="{{j.level}}">
    <input type="hidden" name="technology" value="{{j.technology}}">

    <div class="row">

      <div class="col-md-3">
        {% if per.has_previous %}
      <a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ per.previous_page_number }}"><--- Go To Previous Question</a>
      {% endif %}
                  </div>


    {% if per.has_next %}
      <input type="hidden" name="status" value="inprogress">

          <div class="col-md-3">
              {%if not submit%}

      <button class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" type="submit" name="button" >Save You Answer</button>

              {% endif %}
              {%if submit%}

              <button class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" type="submit" name="button" >Update You Answer</button>

                {% endif %}
                </div>


        <div class="col-md-3">
                {%if submit%}
      <a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ per.next_page_number }}">Move To Next Question ---></a>
          {% endif %}
        </div>

      <!-- <a class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" href="?page={{ per.next_page_number }}" onclick="this.form.submit()" >Move To Next Question...</a>  -->

    {% else %}
      <input type="hidden" name="status" value="completed">
        <div class="col-md-3">
      <button class="btn btn-outline-info mb-4 btn-sm mt-1 mb-1" type="submit" name="button">Complete Your Test</button>
  </div>
    {% endif %}
        </div>
</div>
</div>
</div>









</form>
{%endfor%}
{%endblock%}
