{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-6">
  <div class="content-section">


          <br>
    <p class='text-muted'>Choose Your exam level.
      <ul class="list-group">
        {%for j in jobset%}
                <!-- <li class="list-group-item list-group-item-light"><a href="{%url 'student_attempts' level=j.level technology=technology %}">{{j.level}}</a></li> -->
<a class="btn btn-outline-info  btn-block" href="{%url 'student_attempts' level=j.level technology=technology %}">{{j.level}}</a>
        {%endfor%}
      </ul>
    </p>
  </div>
 </div>








{%endblock%}
