{% extends "blog/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
  <div class="content-section">
    <h3>Your Question</h3>
    <br>
    <p class='text-muted'>Choose your test.
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">kk</li>
        <li class="list-group-item list-group-item-light">Python</li>
        <li class="list-group-item list-group-item-light">Manual Testing</li>
        <li class="list-group-item list-group-item-light">Selenium</li>
      </ul>
    </p>
  </div>
</div>

  <div class="col-md-6">
    <div class="content-section">

      <h3>Choose your answer</h3>
            <br>
      <p class='text-muted'>Choose your test.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">kk</li>
          <li class="list-group-item list-group-item-light">Python</li>
          <li class="list-group-item list-group-item-light">Manual Testing</li>
          <li class="list-group-item list-group-item-light">Selenium</li>
        </ul>
      </p>
    </div>
   </div>

</div>
{%endblock%}
