{% extends "website/websitebase.html" %}
{% load static %}

{%block maincontent%}

<br><br><br>

<div class="mt-4">

  <div class="row" style="background-color:#444444">




<div class="col-md-8  text-white">

<div class="ml-5" style="text-align:left;font-family:OpenSans-Regular">


<br>
  <!-- <h5  >Selenium Master Program</h5>
  <p  ><i class="fa fa-home" aria-hidden="true"></i>  >> <small>Selenium Master Program</small></p>
  <p  >Selenium Masters Program Selenium Masters Program BEST SELLER      1965 Ratings (5.0) Selenium Masters Program to professionals who seek to dependant on their knowledge in the field of Selenium. It makes you proficient in tools and systems used by Selenium experts. It includes training on Hadoop and Spark, Java Essentials, and SQL. The program is customized based on current industry standards that comprise of major sub-modules as a part of the training process. This program is designed by the industry experts to provide hands-on training with tools that are...

</p> -->
{%block masterprogramblock%}{%endblock masterprogramblock%}
<br>
</div>
<div id="multi-item-example" class="carousel slide carousel-multi-item ml-5" data-ride="carousel">


  <!--/.Controls-->


  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner ml-5" role="listbox" style="font-family:OpenSans-Regular;font-size:14px">

    <!--First slide-->
    <div class="carousel-item active ml-5">

      <div class="col-md-3" style="float:left">
       <div class="card mb-2" style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="text-white">Skill Level</p>
            <img class="card-img-top" height="120" width="40" src="{% static 'images/skilllevel.png' %}" alt="Card image cap">

            <p class="text-white">Expert</p>

          </div>
        </div>
      </div>


      <div class="col-md-3" style="float:left">
       <div class="card mb-2" style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="text-white">Support</p>
            <img class="card-img-top" height="120" width="30" src="{% static 'images/support3.png' %}" alt="Card image cap">

            <p class="text-white">24/7</p>

          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
       <div class="card mb-2" style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="text-white">Assignments</p>
            <img class="card-img-top" height="120" width="30" src="{% static 'images/assignments.png' %}" alt="Card image cap">

            <p class="text-white">23 Hours.</p>

          </div>
        </div>
      </div>



    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item ml-5">

      <div class="col-md-3" style="float:left">
       <div class="card mb-2 " style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="text-white">Duration</p>
            <img class="card-img-top" height="110" width="30" src="{% static 'images/duration.png' %}" alt="Card image cap">

            <p class="text-white">50 Hours</p>

          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
       <div class="card mb-2" style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="card-title">Learners</p>
            <img class="card-img-top" height="120" width="30" src="{% static 'images/learners.png' %}" alt="Card image cap">

            <p class="card-text">900+ Happy Learners.</p>

          </div>
        </div>
      </div>

      <div class="col-md-3" style="float:left">
       <div class="card mb-2" style="background-color:#444444">

          <div class="card-body" style="background-color:#444444">
            <p class="card-title">Interview Preparation</p>
            <img class="card-img-top" height="120" width="30" src="{% static 'images/interviewprepartion.png' %}" alt="Card image cap">

            <p class="card-text">10 Hours</p>

          </div>
        </div>
      </div>



    </div>
    <!--/.Second slide-->



  </div>
  <!--/.Slides-->

</div>



</div>










<div class="col-md-3">
  <br>  <br>
<!-- <div class="container">
  <div class="row bg-success">
    <div class="col-md-12 ">
    <h5 class="mt-2 bg-success"><em> Selenium Master Program</em></h5>
    </div>

    <div class="col-md-12 mt-2">
      <table class="table table-hover bg-success" style="text-align:left">
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Java</td>
    <td>12 Hours</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jenkins</td>
    <td>12 Hours</td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Maven</td>
    <td>3 Hours</td>

  </tr>
  <tr>
    <th scope="row">4</th>
    <td>AutoIt</td>
    <td>3 Hours</td>

  </tr>

  <tr>
    <th scope="row">5</th>
    <td>Cucumber</td>
    <td>12 Hours</td>

  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Dockers</td>
    <td>12 Hours</td>

  </tr>

  <tr>
    <th scope="row">5</th>
    <td>BrowserStack</td>
    <td>12 Hours</td>

  </tr>
</tbody>
</table>


    </div>


  </div>

</div> -->


{%block programcomponenttable%}

{%endblock programcomponenttable%}


<br><br>



</div>



  </div>




<!--Carousel Wrapper-->

<!--/.Carousel Wrapper-->

<div class="row">



    {%block batchschedule%} {%endblock batchschedule%}



    <div class="col-md-3 ml-5 bg-light border border-secondary mt-2">
      <br>
      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="btn btn-info" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Corporate Training</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-warning" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Group of people offer</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <hr>
  <br>
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

    <div class="">
      Corporate Training
  If you want to give the Trending technology experience to your esteemed employees, we are here to help you!

    </div>
    <div class="mt-5">
<a class="btn btn-primary text-white">Contact Co-ordinator</a>
    </div>

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <div class="">
      Group Discount
  If you have Three or more people in your training we will be delighted to offer you a group discount.
    </div>

    <div class="mt-5">
      <a class="btn btn-primary">Get offers</a>
    </div></div>


</div>




</div>


{%block about%}{%endblock about%}
<div class="col-md-3 ml-5 bg-light border border-secondary mt-2">
  <br>

  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-header bg-info">
        Do you have Query?
      </div>
      <div class="card-body" style="background-color:#ffffff">
        <img class="card-img-top" height="200"  src="{% static 'images/query.jpg' %}" alt="Card image cap">
        <hr>
        <div class="bg-dark text-white">


        <h5 class="card-title">Contact Our Experts</h5>
        <p class="card-text">9500434122</p>
  </div>
      </div>

    </div>
  </div>




</div>











    <br>
{%block syllabus%} {%endblock syllabus%}

<div class="col-md-3 ml-5 ">
</div>



</div>




{%endblock maincontent%}
