{% extends "courses/coursebase.html" %}
{% load static %}

{%block masterprogramblock%}

<h5  >Selenium Master Program</h5>
<p  > <a href="{%url 'websitehome'%}"><i class="fa fa-home fa-1x" aria-hidden="true" style="color: #fff;"></i> </a> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <small>Selenium Master Program</small></p>
<p  >Selenium Masters Program Selenium Masters Program BEST SELLER      1965 Ratings (5.0) Selenium Masters Program to professionals who seek to dependant on their knowledge in the field of Selenium. It makes you proficient in tools and systems used by Selenium experts. It includes training on Hadoop and Spark, Java Essentials, and SQL. The program is customized based on current industry standards that comprise of major sub-modules as a part of the training process. This program is designed by the industry experts to provide hands-on training with tools that are...

</p>

{%endblock masterprogramblock%}














{%block programcomponenttable%}

<div class="container">
  <div class="row bg-success">
    <div class="col-md-12 ">
    <h5 class="mt-2 bg-success"><em> Selenium Master Program</em></h5>
    </div>

    <div class="col-md-12 mt-2">
      <table class="table table-hover bg-success" style="text-align:left">
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Java</td>
    <td>12 Hours</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jenkins</td>
    <td>12 Hours</td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Maven</td>
    <td>3 Hours</td>

  </tr>
  <tr>
    <th scope="row">4</th>
    <td>AutoIt</td>
    <td>3 Hours</td>

  </tr>

  <tr>
    <th scope="row">5</th>
    <td>Cucumber</td>
    <td>12 Hours</td>

  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Dockers</td>
    <td>12 Hours</td>

  </tr>

  <tr>
    <th scope="row">5</th>
    <td>BrowserStack</td>
    <td>12 Hours</td>

  </tr>
</tbody>
</table>


    </div>


  </div>

</div>

<a class="btn btn-primary  mt-2" href="{% static 'syllabus/Seleinum.pdf' %}" Download>Download Syllabus</a>
<a class="btn btn-info mt-2" href="#">Enroll Now</a>

{%endblock programcomponenttable%}









{%block batchschedule%}

<div class="col-md-8 ml-2 bg-light ml-5" style="text-align:left;font-family:OpenSans-Regular">
<br>
<h5 >Batch Schedule for Selenium Master Program</h5>
<p>Vcentry Technologies provides flexible timings to all our students. Here are the Selenium Masters Program in our branches. If this schedule doesn’t match please let us know. We will try to arrange appropriate timings based on your flexible timings.</p>
  <div class="container col-md-6">
    <div class="row bg-secondary text-white">

      <div class="col-md-12 ">
      <h5 class="mt-2 bg-secondary" style="text-align:center"><em> Avaliable timings for Selenium Master Program</em></h5>
      </div>
      <div class="col-md-12 mt-2">
        <table class="table table-hover bg-secondary" style="text-align:left">
  <tbody>
    <tr>
      <th scope="row">30-06-2020</th>
      <td>Weekday</td>
      <td>7am to 9am</td>
    </tr>
    <tr>
      <th scope="row">30-06-2020</th>
      <td>Weekday</td>
      <td>9am to 11am</td>
    </tr>
    <tr>
      <th scope="row">1-07-2020</th>
      <td>Weekend</td>
      <td>11pm to 1:30pm</td>
    </tr>
    <tr>
      <th scope="row">1-07-2020</th>
      <td>Weekend</td>
      <td>3:30pm to 6:30pm</td>
    </tr>


  </tbody>
  </table>


      </div>


    </div>

  </div>
</div>

{%endblock batchschedule%}


{%block about %}

<div class="col-md-8 ml-2 bg-light ml-5 bg-white" style="text-align:left;font-family:OpenSans-Regular">
  <hr>
  <h5 >About Selenium Master Program</h5>
  <p>Vcentry Technologies provides flexible timings to all our students. Here are the Selenium Masters Program in our branches. If this schedule doesn’t match please let us know. We will try to arrange appropriate timings based on your flexible timings.</p>


</div>


 {%endblock about%}


{%block syllabus%}

<div class="col-md-8 ml-2 bg-light ml-5 bg-white" style="text-align:left;font-family:OpenSans-Regular">
    <br>

<div class="row">


  <div class="col-md-8">
    <div class="row ">

      <div class="col-md" style="text-align:left;">
        <h5 >Selenium Master Program Syllabus</h5>
      </div>
      <div class="col-md" style="text-align:right;">

        <a class="btn btn-info" href="{% static 'syllabus/Seleinum.pdf' %}" Download>Download</a>

      </div>

    </div>
    <br>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Automation
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <p class="ml-5">Introduction to Automation Testing</p>
            <p class="ml-5">	What is Automation Testing?	</p>
        <p class="ml-5">	When Automation Testing is needed?	</p>
        <p class="ml-5">	Why Automation Testing is required?	</p>
        <p class="ml-5">	List of Software Automation tools used in the current market.	</p>
        <p class="ml-5">	Difference between paid tool (QTP) and open source tool (Selenium).	</p>
        <p class="ml-5">	How to select best Automation tool for a particular project?	</p>
        <p class="ml-5">	Introduction on Selenium Automaton tool.	</p>
        <p class="ml-5">	What is Selenium testing?	</p>
        <p class="ml-5">	Why Selenium?	</p>
        <p class="ml-5">	Features of Selenium	</p>
        <p class="ml-5">	Components of Selenium Testing tool	</p>
        <p class="ml-5">	Selenium IDE (Integrated Development Environment)	</p>
        <p class="ml-5">	Selenium RC (Remote Control)	</p>
        <p class="ml-5">	Selenium WebDriver	</p>
        <p class="ml-5">	Difference between Selenium Webdriver and Selenium RC	</p>
        <p class="ml-5">	Selenium Grid	</p>
        <p class="ml-5">	Selenium IDE	</p>
        <p class="ml-5">	Introduction to Selenium IDE	</p>
        <p class="ml-5">	Browser Compatibility	</p>
        <p class="ml-5">	Elements of Selenium IDE	</p>
        <p class="ml-5">	Recording process in Selenium IDE	</p>
        <p class="ml-5">	Important Selenium IDE Plugins	</p>
      </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Essentials Core Java
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <h5>	Introduction of Java	</h5>
            <p class="ml-5">	Installation of JDK (Java Development Kit) and JRE (Java Runtime Environment) Mastering compilation in Command Prompt	</p>
            <p class="ml-5">	Execution and Debugging in Command Prompt	</p>
            <p class="ml-5">	Basics of Java History of Java Features of Java	</p>
            <p class="ml-5">	Difference between JDK, JRE, and JVM (Java Virtual Machine)	</p>
            <p class="ml-5">	Architectural details of Java	</p>
            <p class="ml-5">	Variables and Data types	</p>
            <p class="ml-5">	Naming Conventions and Folder structures	</p>
            <p class="ml-5">	Return types	</p>
            <h5 >	Conditional and Loop Statement </h5>
            <p class="ml-5">	If statement 	</p>
            <p class="ml-5">	Switch statement	</p>
            <p class="ml-5">	While loop		</p>
            <p class="ml-5">	For loop	</p>
            <h5 class="ml-5">	Modifiers	</h5>
            <p class="ml-5">	Access modifier	</p>
            <p class="ml-5">	Non Access modifier Functions or Methods User defined Functions Pre-defined Functions	</p>
            <p class="ml-5">	Importance of Static keyword	</p>
            <p class="ml-5">	Difference between Static and Non Static keywords. Object Creation	</p>
            <h5 >	Java Arrays	</h5>
            <h5 class="ml-5">	OOPS (Object Oriented Programming Language)	</h5>
            <p class="ml-5">	What is OOPS ?	</p>
            <p class="ml-5">	Difference between Object Oriented and Object Based Programming Languages	</p>
            <p class="ml-5">	Data Encapsulation Data Abstraction Inheritance Interface Polymorphism	</p>
            <p class="ml-5">	Over loading	</p>
            <p class="ml-5">	Over riding	</p>
            <p class="ml-5">	Difference between “this” and “super” keywords	</p>
            <h5 >	Collections	</h5>
            <p class="ml-5">	What is Collections?	</p>
            <p class="ml-5">	Difference between Arrays and Collections	</p>
            <p class="ml-5">	When to use Collections? List	</p>
            <p class="ml-5">	Array list Hash table Hash Map Set	</p>
            <p class="ml-5">	Linked List	</p>
            <h5 >	File Handling	</h5>
            <p class="ml-5">	Text File Reading/Writing	</p>
            <p class="ml-5">	Excel File Reading/Writing Using Poi	</p>
            <p class="ml-5">	Property File Reading	</p>
            <p class="ml-5">	Log4J Handling	</p>
            <h5 class="ml-5">	Exception Handling	</h5>
            <p class="ml-5">	Hierarchy of Exception Handling	</p>
            <p class="ml-5">	Try Mechanism Catch Mechanism Finally Keyword Usage Multiple Catch Usage	</p>
              </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              TestNg
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	Introduction to TestNg	</p>
<p class="ml-5">	Difference between JUnit and TestNg What is TestNg Annotations?	</p>
<p class="ml-5">	Different types of TestNg Annotations Skipping the test case through TestNg Prioritizing the test cases through TestNg Parameterization in TestNg	</p>
<p class="ml-5">	Assertions in TestNg	</p>
<p class="ml-5">	Failures & Errors in TestNg	</p>
<p class="ml-5">	Error Handling in TestNg	</p>
<p class="ml-5">	Error Collectors in TestNg	</p>
<p class="ml-5">	Report Generation in TestNg	</p>
<p class="ml-5">	TestNg - Suite File Creation	</p>
<p class="ml-5">	TestNg - Suite File Execution	</p>
<p class="ml-5">	Parallel execution in TestNg	</p>
<p class="ml-5">	Grouping the testcases through TestNg Analyzing the TestNg report 	</p>
</div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Selenium WebDriver
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	What is Selenium Webdriver?	</p>
<p class="ml-5">	Difference between Selenium RC and Selenium Webdriver Different commands of Selenium Webdriver	</p>
<p class="ml-5">	Load Browser through Selenium Webdriver	</p>
<p class="ml-5">	Load URL through Selenium Webdriver	</p>
<p class="ml-5">	Close/Quit the browser through Selenium Webdriver	</p>
<p class="ml-5">	Difference between Close and Quit Methods in Selenium Webdriver Handling of Input box through Selenium Webdriver	</p>
<p class="ml-5">	Click events in Selenium Webdriver	</p>
<p class="ml-5">	Key enumerators in Selenium Webdriver	</p>
<p class="ml-5">	Submit option in Selenium Webdriver	</p>
<p class="ml-5">	Reading of Page source in Selenium Webdriver	</p>
<p class="ml-5">	Reading of title in Selenium Webdriver	</p>
<p class="ml-5">	Reading of current URL in Selenium Webdriver	</p>
<p class="ml-5">	Check box handling through Selenium Webdriver	</p>
<p class="ml-5">	Radio buttons through Selenium Webdriver	</p>
<p class="ml-5">	Handling of drop down elements in Selenium Webdriver	</p>
<p class="ml-5">	Handling of drag & drop elements in Selenium Webdriver 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Webpage scroll down actions through Java script executor Handling Sliders in Selenium Webdriver	</p>
<p class="ml-5">	Resizing the web elements through Selenium Webdriver Resizing the browser window through Selenium Webdriver Handling Cookies through Selenium Webdriver 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Pop-up window handling through Selenium Webdriver	</p>
<p class="ml-5">	Multiple Windows handling through Selenium Webdriver Handling frames through Selenium Webdriver	</p>
<p class="ml-5">	Dynamic table handling in Selenium Webdriver	</p>
<p class="ml-5">	Handling Auto- Complete elements through Selenium Webdriver Mouse hover handling through Selenium Webdriver 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Tooltip handling through Selenium Webdriver	</p>
<p class="ml-5">	Reading the hyperlinks from a particular page.	</p>
<p class="ml-5">	Handling of Dynamic elements.	</p>
<p class="ml-5">	Taking Screenshots/snapshots using Selenium Webdriver Taking Screenshots for a particular elements. 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Use of Action methods in Selenium Webdriver Alert handling in Selenium Webdriver Highlighting a particular element.	</p>
<p class="ml-5">	Downloading a file by setting the browser profile. Uploading a file through Selenium 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Webdriver listeners	</p>
<p class="ml-5">	Working with HTML Unit Driver	</p>
<p class="ml-5">	Managing the untrusted sites	</p>
<p class="ml-5">	Different types of locators	</p>
<p class="ml-5">	ID	</p>
<p class="ml-5">	Name	</p>
<p class="ml-5">	Class	</p>
<p class="ml-5">	Xpath	</p>
<p class="ml-5">	CSS Selector	</p>
<p class="ml-5">	Document Object Module (DOM)	</p>
<p class="ml-5">	Tag name	</p>
<p class="ml-5">	Link text	</p>
<p class="ml-5">	Partial Link text	</p>
<p class="ml-5">	Identifying the locators using FIRE BUG and FIRE PATH	</p>
<p class="ml-5">	Wait concepts	</p>
<p class="ml-5">	Thread.sleep	</p>
<p class="ml-5">	Implicit wait	</p>
<p class="ml-5">	Expilicit wait	</p>
<p class="ml-5">	Fluent wait	</p>
<p class="ml-5">	Selenium Webdriver Navigations	</p>
<p class="ml-5">	Running the same script through multiple browsers (Chrome, Firefox, IE) 	</p>

    </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              ANT
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	What is ANT?	</p>
<p class="ml-5">	Environment variables of ANT ANT Configuration	</p>
<p class="ml-5">	Execution Commands for ANT Build.xml setup	</p>
<p class="ml-5">	Key elements of Build.xml 	</p>

          </div>
        </div>
      </div>



      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
              Maven
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	What is Maven?	</p>
<p class="ml-5">	When Maven is needed?	</p>
<p class="ml-5">	Maven Installation	</p>
<p class="ml-5">	Selenium Dependency Setup in Maven 	</p>
    </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeveen" aria-expanded="false" aria-controls="collapseThree">
              Selenium Grid
            </button>
          </h5>
        </div>
        <div id="collapseSeveen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	What is Selenium Grid? 	</p>
<p class="ml-5">		</p>
<p class="ml-5">	Hub Configuration	</p>
<p class="ml-5">	Node Configuration	</p>
<p class="ml-5">	Remote Machine Configuration	</p>
<p class="ml-5">	Test case Execution in Remote Machine Alternative Components for Selenium Grid 	</p>

    </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
Report Generation
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	XSLT Report	</p>
<p class="ml-5">	Automation Testing Utility (ATU) Report ReportNG Report	</p>
<p class="ml-5">	Attaching the Screenshots in Reports Test case Execution Logs in Report 	</p>
  </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
      Page Object Model
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	Introduction to Page Object Model	</p>
<p class="ml-5">	Implementation of Page Object Model	</p>
<p class="ml-5">	Advantages of Page Object Model	</p>
<p class="ml-5">	Introduction to Page Factory	</p>
<p class="ml-5">	Configuration of Page Object Model and Page Factory 	</p>

      </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
      Selenium Framework
            </button>
          </h5>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	What is Framework?	</p>
<p class="ml-5">	Why Framework?	</p>
<p class="ml-5">	Different types of Framework	</p>
<p class="ml-5">	Data Driven Framework	</p>
<p class="ml-5">	Keyword Driven Framework	</p>
<p class="ml-5">	Hybrid Framework	</p>
<p class="ml-5">	Behavior Driven Development Framework (Cucumber) Test driven development 	</p>

      </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseThree">
      Continuous Integration Tools
            </button>
          </h5>
        </div>
        <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p class="ml-5">	Introduction to Jenkins Installation of Jenkins	</p>
<p class="ml-5">	Plan creation in Jenkins	</p>
<p class="ml-5">	Job creation in Jenkins	</p>
<p class="ml-5">	Build the project through Jenkins Schedule the job in Jenkins Plugging Installation in Jenkins 	</p>

      </div>
        </div>
      </div>


    </div>










  </div>



</div>
<br>

</div>

{%endblock syllabus%}
